@font-face {
    font-family: 'San Francisco Display Bold';
    src: url('../../fonts/SFUIDisplay-Bold.eot');
    src: url('../../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../../fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display Medium';
    src: url('../../fonts/SFUIDisplay-Medium.eot');
    src: url('../../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('../../fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Text Medium';
    src: url('../../fonts/SFUIText-Medium.eot');
    src: url('../../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIText-Medium.woff') format('woff'),
    url('../../fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.add-task-to-project-button{
    background-color: #3342D1;
    border-radius: 10px;
}