.event-section {
    padding: 25px;
    border-bottom: 1px solid #E8F0EC;
}

.event {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    height: 250px;
    background-blend-mode: overlay;
    background-color: rgba(139, 51, 209, 0.8);
}

.event-photo {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.event-info {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 19px;
    margin-bottom: 30px;
    margin-right: 52px;
}

.event-date {
    font-family: "San Francisco Display Medium", sans-serif;
    font-size: 14px;
}

.event-title {
    font-family: "San Francisco Display Bold", sans-serif;
    font-size: 20px;
    margin-bottom: 35px;
}

.proj-open-org{
    padding-top: 10px;
    background: #3342D1;
    border-radius: 10px;
    width:178px;
    height:34px;
}


.project-open{
    border: 0;
    border-radius: 10px;
    background: #3342D1;
    color: white;
    width:178px;
    height:34px;
    font-size: 15px;
    font-family: "San Francisco Text Medium", sans-serif;
}

.project-open.volunteer{
    background: #0DB9AD;
}