.chat-input{
    position: fixed;
    width: 100%;
    bottom:49px;
    border-top:1px solid #E8F0EC;
}

.chat-input>*{
    vertical-align: middle;
    line-height: normal;
}

.message-input{
    width:75%;
    height: 32px;
    margin: 16px 25px;
    border: none;
    border-radius: 5px;
    background: #E8EBF0;
}

.send-button{
    width: 53px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #3342d1;
}

.messages{
    margin: 25px;
}

.message-author{
    color: #6d7885;
}