@font-face {
    font-family: 'San Francisco Display Bold';
    src: url('../../fonts/SFUIDisplay-Bold.eot');
    src: url('../../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../../fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display Medium';
    src: url('../../fonts/SFUIDisplay-Medium.eot');
    src: url('../../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('../../fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Text Medium';
    src: url('../../fonts/SFUIText-Medium.eot');
    src: url('../../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIText-Medium.woff') format('woff'),
    url('../../fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display Regular';
    src: url('../../fonts/SFUIDisplay-Regular.eot');
    src: url('../../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../../fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.page-content{
    padding-top:120px;
}

.startscreen-bg{
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: -10%;
    height: 40%;
    min-height: 300px;
}

.greetings{
    text-align: center;
}

.hi{
    font-family: "San Francisco Display Bold", sans-serif;
    font-size: 28px;
    line-height: 33px;
    color: #260075;
}

.greetings-text{
    font-family: "San Francisco Display Medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #6D6975;
}

.volunteer {
    background-color: #0DB9AD;
}

.organizer {
    background-color: #5F3AAD;
}

.button-label{
    font-family: "San Francisco Text Medium", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}