.volunteer {
  background-color: #0DB9AD;
}

.organizer {
  background-color: #5F3AAD;
}

.home-page-label {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-size: small;
  text-align: center;
}

.tabs-header-wrapper{
  border-bottom: 1px solid #E8F0EC;
}