.organizer-profile{
    padding: 10px 25px;
}

.project-edit-settings{
    margin: 0 -10px;
}

.project-duration{
    display: flex;
    flex-direction: row;
}

.date-input{
    flex-grow: 1;
}

.project-save-edits-button{
    background-color: #3342D1;
}

.organizer-profile-settings-button{
    background-color: #3342D1;
    width: 115px;
    height: 32px;
    border-radius: 5px;
}