.volunteer-profile-settings{
    padding: 10px 10px;
    position: relative;
}

.volunteer-profile-save-button{
    background: #0DB9AD;
}

.volunteer-profile-settings-button{
    position: absolute;
    left: 117px;
    bottom:15px
}