.accordion-header{
    display: flex;
    flex-direction: row;
    font-family: "San Francisco Display Regular", sans-serif;
    color: #081160;
    font-size: 24px;
    align-items: center;
    padding: 0 25px;
    border-top: 1px solid #E8F0EC;
}

.dropdown-title{
    flex-grow: 1;
    margin: 20px 0;
}

.accordion-content{
    padding: 0 25px 10px;
}