.menu-bottom-buttons{
    display: flex;
    flex-direction: row;
}

.menu-bottom-buttons-item{
    border: none;
    height: 50px;
    flex-grow: 1;
    background-color: white;
}

.menu-bottom-buttons-item.active-panel{
    background: linear-gradient(to top, #f2f2f2 00%, #ffffff 90%);
}