.menu-bottom-buttons{
    display: flex;
    flex-direction: row;
}

.menu-bottom-buttons-item{
    border: none;
    height: 50px;
    flex-grow: 1;
    background-color: white;
    flex-wrap: wrap;
    color: #6E707C;
}

.menu-bottom-buttons-item.organizer{
    color: #3342D1;
}
.menu-bottom-buttons-item.volunteer{
    color: #0DB9AD;
}
.menu-bottom-buttons-label{
    margin: 0;
    font-size: 12px;
}
.menu-bottom-buttons-icon{
    margin: 0 auto;
}