.share-project-button{
    border: 0;
    background: #0DB9AD;
    border-radius: 5px;
    min-width: 130px;
    height: 34px;
    font-family: "San Francisco Text Medium", sans-serif;
    font-size: 15px;
    color: white;
    margin: 0 25px 0 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}